.notificationbox-root {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 90px;
    margin-right: 60px;
    width: 200px;
    height: 330px;
    border-radius: 30px;
    background-color: #388EE6;
    z-index: 30;
    padding: 30px;
    color: white;
}


.notificationbox-close{
    display: flex;
    justify-content: flex-end;
}

.notificationbox-close > img {
    height: 15px;
    width: 15px;
}
.notificationbox-close > img:hover {
    cursor: pointer;
}


.notificationbox-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.notificationbox-header-temp{
    padding: 10px;
    border: 8px solid white;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.notificationbox-header-temp > span{
    font-size: 22px;
    font-weight: 600;

}

.notificationbox-header-contry{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
}
.notificationbox-header-contry > h5{
    line-height: 0;

}

.notificationbox-city-status{
    display: flex;
    flex-direction: column;
    font-size: small;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

